//Variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: cornflowerblue;
  border: 2px black dotted;
}
.clock {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-wrap: none;
  flex-wrap: nowrap;
  text-align: center;
  // width: 50%;
  // height: 60%;
  font-size: 450%;
  text-shadow: 0px 0px 10px lightskyblue;
}
