//Variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: cornflowerblue;
  border: 2px black dotted;
}
.clock {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-wrap: none;
  flex-wrap: nowrap;
  text-align: center;
  // width: 50%;
  // height: 60%;
  font-size: 450%;
  text-shadow: 0px 0px 10px lightskyblue;
}
h1,
h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  font-size: 2rem;
}
.wrapper {
  margin: auto;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // width: 2rem;
}
#buttons,
#stopwatch {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 20rem;
  height: 4rem;
  // border: 2px red dotted;
  list-style: none;
  font-size: 350%;
}

.start,
.stop,
.reset {
  width: 6rem;
  height: 2.2rem;
  background-color: lightgoldenrodyellow;
}
