//Variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: cornflowerblue;
}
.clock {
  display: flex;
  justify-content: center;
  // align-content: center;
  // align-items: center;
  // width: 100%;
  // height: 5rem;
  font-size: 3.2rem;
  // border: 2px red dotted;
  // letter-spacing: 5px;

  text-shadow: 0px 0px 10px lightskyblue;
}
.hr,
.min,
.sec {
  display: flex;
  justify-content: space-around;
  width: 5rem;

  // padding-top: 10px;
}
.dobule1,
.dobule2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  width: 10px;
  height: 40px;
}
.dobule1 {
  padding-left: 13px;
}
.dobule2 {
  padding-right: 7px;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 1em;
  font-size: 2rem;
  color: aqua;
}
.wrapper {
  // margin: auto;
  display: flex;
  flex-direction: column;
}

.stop-watch-div {
  padding-top: 4rem;
}
// #buttons {
//   margin: auto;
//   display: flex;
//   justify-content: center;
//   align-content: flex-start;
//   align-items: center;
//   width: 60%;
//   height: 5rem;
//   list-style: none;
//   font-size: 2rem;
//   text-shadow: 0px 0px 10px lightskyblue;
// }
#buttons,
#stopwatch {
  display: flex;
  justify-content: center;
  // padding-left: 44rem;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  list-style: none;
  font-size: 2rem;
  border: 2px white dotted;
  text-shadow: 0px 0px 10px lightskyblue;
}

.start,
.stop,
.reset {
  width: 6rem;
  height: 2.2rem;
  background-color: lightgoldenrodyellow;
}
